<?xml version="1.0" encoding="utf-8"?>
<!-- web config PRODUÇÃO ANGOLA-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

	<appSettings>
		<add key="Application_Country" value="DZ_LABMETRO" />
		<add key="Fax_Orcamento" value="---" />

		<!-- CONNECTIONSTRING SQL SERVER
    ATENÇÃO NOVA CONNECTIONSTRING ESTÁ MAIS ABAIXO EM CONNECTIONSTRINGS -->
		<add key="ConnectionString2" value="Server=CLDDEV02\SQLEXPRESS;DataBase=weblabmetrodzdev;User ID=labmetro;Password=edfh+178;Trusted_Connection=False;Min Pool Size=5; Max Pool Size=100; Connect Timeout=20" />
  
		<!-- COMMANDTIME OUT DO SQLCMD USADO NO CODIGO-->
		<add key="CommandTimeOut" value="60" />

		<!-- CONNECTIONSTRING CYRSTAL REPORTS-->
		<add key="ServerName" value="CLDDEV02\SQLEXPRESS" />
		<add key="DatabaseName" value="weblabmetrodzdev" />
		<add key="UserID" value="labMetro" />
		<add key="Password" value="edfh+178" />

		<add key="LOG_PATH_ABS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\LOGS" />
		<add key="LOG_PATH_REL" value="\LOGS" />
		<add key="TEMP_PATH_REL" value="\TEMPORARY" />

		<add key="UPLOAD_REQ_PATH_REL" value="\UPLOADS\REQUISICOES" />
		<add key="UPLOAD_REQ_PATH_ABS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\UPLOADS\REQUISICOES" />
		<add key="UPLOAD_REQ_URL" value="\UPLOADS\REQUISICOES" />
		<add key="FACTURACAO_PATH_ABS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\SAP\OUT" />
		<add key="FACTURACAO_PATH_REL" value="\UPLOADS\SAP\OUT" />
	
		<!-- CERTIFICADOS ========================================================================== -->
		<add key="PATHREL_CERT_TEMP" value="UPLOADS\CERTIFICADOS\TEMPORARY" />
		<add key="ROOT_CERTIFICADOS_PATH" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS" />
		<add key="ROOT_CERTIFICADOS_URL" value="http://labmetroangola.isqapave.com/UPLOADS/CERTIFICADOS" />
		<add key="PASTA_TEMPORARIA_CERT" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\TEMPORARY" />
		<add key="PATHREL_CERT_ORIGINAIS" value="UPLOADS/CERTIFICADOS/ORIGINAIS/ORIGEM" />
		<add key="PATHREL_CERT_FINAIS_CERTIFICADOS" value="UPLOADS/CERTIFICADOS/FINAIS/CERTIFICADOS" />
		<add key="PATHREL_CERT_FINAIS_CONSTRUCAO" value="UPLOADS/CERTIFICADOS/FINAIS/CONSTRUCAO" />
		
		<!-- PASTAS DE ARMAZENAMENTO DOS CERTIFICADOS ORIGINAIS VINDOS DOS LABORATÓRIOS -->										
		<add key="PASTA_CERT_ORIGINAIS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ORIGINAIS\ORIGEM" />
		<add key="PASTA_CERT_ORIGINAIS_BACKUP" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ORIGINAIS\BACKUP" />

		<!-- PASTAS DE ARMAZENAMENTO DOS CERTIFICADOS FINAIS, DURANTE A FASE DE VALIDAÇÃO E O CERTIFICADO FINAL -->
		<add key="PASTA_CERT_FINAIS_CONSTRUCAO" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\FINAIS\CONSTRUCAO" />
		<add key="PASTA_CERT_FINAIS_CERTIFICADOS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\FINAIS\CERTIFICADOS" />

		<!-- PASTA DE TEMPLATES PARA A CERTIFICAÇÃO -->
		<add key="PASTA_TEMPLATES" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\TEMPLATES\GERAL" />
		<add key="PASTA_SIMBOLOS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\TEMPLATES\ACREDITACAO" />

		<!-- PASTA PARA ARMAZENAMENTO DAS RÚBRICAS DOS TÉCNICOS E RESPONSÁVEIS DE LABORATÓRIO -->
		<add key="PASTA_ASSINATURAS_CERTIFICADOS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ASSINATURAS\" />
    <add key="ASSINATURAS_PATH_REL" value="\UPLOADS\CERTIFICADOS\ASSINATURAS" />

		<!-- DADOS PARA A CERTIFICAÇÃO, CAMINHO E PASSWORD DO CERTIFICADO E TEXTO A COLOCAR NO CERTIFICADO -->
		<!-- É NECESSÁRIO USAR UM CAMINHO ABSOLUTO -->
		<add key="CAMINHO_CERTIFICADO" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\CERTIFICADO\LabmetroOnline.pfx"></add>
		<add key="PASTA_CERT_ZIPS" value="c:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ZIPS\" />
		<add key="CERTIFICADOS_URL" value="UPLOADS\CERTIFICADOS\FINAIS\CERTIFICADOS " />
		<add key="PATHABS_CERT_FINAIS_CERTIFICADOS" value="http://102.36.224.206/UPLOADS/CERTIFICADOS/FINAIS/CERTIFICADOS" />

		<add key="CERT_PASSWORD" value="ISQ.Angola.2023#"></add>
		<add key="CERT_REASON" value="Documento aprovado electronicamente"></add>
		<add key="CERT_LOCATION" value="ISQ - LabMetro"></add>

		<add key="TEMPLATE_PAGINA" value="certif.pdf" />
		<add key="TEMPLATE_PAGINA_IPAC" value="certif_IPAC.pdf" />
		<add key="TEMPLATE_PAGINA_REP" value="certif_REP.pdf" />

    <add key="UPLOAD_CRITERIOS_CLIENTES" value="\UPLOADS\CRITERIOSACCLIENTES" />
    <add key="UPLOAD_CRITERIOS_URL" value="UPLOADS\CRITERIOSACCLIENTES" />
    <add key="TEMP_PATH" value="\UPLOADS\TEMP"></add>

    <add key="UPLOAD_PEDIDOSORC_PATH_REL" value="\UPLOADS\PEDIDOSORC" />
    <add key="UPLOAD_PEDIDOSORC_URL" value="UPLOADS\PEDIDOSORC" />
		<!-- numero de peças a partir do qual é aplicado o desconto na facturação, caso o desconto seja aplicável -->
		<add key="NUMPECASPARADESCONTO" value="5"></add>
		<!-- campo "TO" para envio de FAX atraves do serviço de email -->
		<!-- dentro do codigo o 000 (3 zeros) serao substituidos pelo numero de fax do destinatário -->
		<add key="NUMFAX" value="IMCEAFAX-000@isq.pt"></add>
		<!-- ip do servidor utilizado no envio de fax por email-->
		<add key="IPSERVIDORMAIL" value="188.93.230.95"></add>
		<!-- as confirmações de envio de fax teem de ser entregues a alguem, esse alguem é definido nas proximes chaves -->
		<add key="MAIL_CONFIRMATION_FAXAVISO" value="recepcao@isq.pt"></add>
		<add key="MAIL_CONFIRMATION_ORCAMENTO" value="labmetro@isq.pt"></add>
		<add key="ID_RESP_TEC_DEFAULT_ORCAM" value="15"></add>

		<add key="canUpdatePagAtraso" value="admin" />
		<add key="canUpdateContactoInfo" value="admin,acfalcato" />
    <add key="versaoAplicacao" value="ISQapave Labmetro Angola" />
    <add key="nomeAplicacao" value="ISQapave Labmetro" />
	</appSettings>

  <!--atenção a nova connectionstring está aqui.-->
  <connectionStrings>
    <add name="connstr" connectionString="Server=CLDDEV02\SQLEXPRESS;DataBase=weblabmetrodzdev;User ID=LabMetro;Password=edfh+178;Trusted_Connection=False;Min Pool Size=5; Max Pool Size=100; Connect Timeout=20" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=CLDDEV02\SQLEXPRESS;Persist Security Info=True;User ID=LabMetro;Password=edfh+178" providerName="System.Data.SqlClient" />
    <add name="ANG_LABMETROConnectionString" connectionString="Data Source=CLDDEV02\SQLEXPRESS;Initial Catalog=weblabmetrodzdev;User ID=Labmetro;Password=edfh+178" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!-- CAMINHO PARA O FICHEIRO DE LOGs -->
	<system.web>
		<!-- disable session state for application -->
		<!-- debug a false em producao -->
    <pages validateRequest="true" styleSheetTheme="myTheme">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
   
		<httpRuntime executionTimeout="600" appRequestQueueLimit="100" />
		<compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
		</compilation>
		<customErrors mode="Off" defaultRedirect="PagErro.aspx" />
		
    <!-- enable Forms authentication -->
		<authentication mode="Forms">
			
    <!-- name : o nome do cookie-->
		<forms name=".LABMAUTH" loginUrl="Default.aspx" protection="All" path="/" timeout="40" />
		</authentication>
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByCategory" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="40" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-PT" uiCulture="pt-PT" />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <xhtmlConformance mode="Transitional" />
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
	</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="800000" />
      </webServices>
    </scripting>
  </system.web.extensions>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
    </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral"></assemblyIdentity>
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.35.00.0" newVersion="13.0.21.2533" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
