<?xml version="1.0" encoding="utf-8" ?>
<!-- web config PRODUÇÃO-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

	<appSettings>
		<add key="Application_Country" value="ANG_LABMETRO"/>
		<add key ="Fax_Orcamento" value="---"/>

		<!-- CONNECTIONSTRING SQL SERVER
    ATENÇÃO NOVA CONNECTIONSTRING ESTÁ MAIS ABAIXO EM CONNECTIONSTRINGS -->
		<add key="ConnectionString2" value="Server=METLABSERVER;DataBase=Ang_Labmetro;User ID=LabMetro;Password=edfh+178;Trusted_Connection=False;Min Pool Size=5; Max Pool Size=100; Connect Timeout=20" />


  
		<!-- COMMANDTIME OUT DO SQLCMD USADO NO CODIGO-->
		<add key="CommandTimeOut" value="60" />

		<!-- CONNECTIONSTRING CYRSTAL REPORTS-->
		<add key="ServerName" value="METLABSERVER" />
		<add key="DatabaseName" value="Ang_Labmetro" />
		<add key="UserID" value="LabMetro" />
		<add key="Password" value="edfh+178" />


		<add key="LOG_PATH_ABS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\LOGS" />
		<add key="LOG_PATH_REL" value="\LOGS" />
		<add key="TEMP_PATH_REL" value="\TEMPORARY" />

		<add key="UPLOAD_REQ_PATH_REL" value="\UPLOADS\REQUISICOES" />
		<add key="UPLOAD_REQ_PATH_ABS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\UPLOADS\REQUISICOES" />
		<add key="UPLOAD_REQ_URL" value="\UPLOADS\REQUISICOES" />
		
	
		<!-- CERTIFICADOS ========================================================================== -->
		<add key="PATHREL_CERT_TEMP" value="UPLOADS\CERTIFICADOS\TEMPORARY" />
		<add key="ROOT_CERTIFICADOS_PATH" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS" />
		<add key="ROOT_CERTIFICADOS_URL" value="http://192.168.4.3/UPLOADS/CERTIFICADOS" />
		<add key="PASTA_TEMPORARIA_CERT" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\TEMPORARY" />
		<add key="PATHREL_CERT_ORIGINAIS" value="UPLOADS/CERTIFICADOS/ORIGINAIS/ORIGEM" />
		<add key="PATHREL_CERT_FINAIS_CERTIFICADOS" value="UPLOADS/CERTIFICADOS/FINAIS/CERTIFICADOS" />
		<add key="PATHREL_CERT_FINAIS_CONSTRUCAO" value="UPLOADS/CERTIFICADOS/FINAIS/CONSTRUCAO" />

		
		<!-- PASTAS DE ARMAZENAMENTO DOS CERTIFICADOS ORIGINAIS VINDOS DOS LABORATÓRIOS -->										
		<add key="PASTA_CERT_ORIGINAIS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ORIGINAIS\ORIGEM" />
		<add key="PASTA_CERT_ORIGINAIS_BACKUP" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ORIGINAIS\BACKUP" />

		<!-- PASTAS DE ARMAZENAMENTO DOS CERTIFICADOS FINAIS, DURANTE A FASE DE VALIDAÇÃO E O CERTIFICADO FINAL -->
		<add key="PASTA_CERT_FINAIS_CONSTRUCAO" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\FINAIS\CONSTRUCAO" />
		<add key="PASTA_CERT_FINAIS_CERTIFICADOS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\FINAIS\CERTIFICADOS" />

		<!-- PASTA DE TEMPLATES PARA A CERTIFICAÇÃO -->
		<add key="PASTA_TEMPLATES" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\TEMPLATES\GERAL" />
		<add key="PASTA_SIMBOLOS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\TEMPLATES\ACREDITACAO" />

		<!-- PASTA PARA ARMAZENAMENTO DAS RÚBRICAS DOS TÉCNICOS E RESPONSÁVEIS DE LABORATÓRIO -->
		<add key="PASTA_ASSINATURAS_CERTIFICADOS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ASSINATURAS\" />

		
		<!-- DADOS PARA A CERTIFICAÇÃO, CAMINHO E PASSWORD DO CERTIFICADO E TEXTO A COLOCAR NO CERTIFICADO -->
		
		<!-- É NECESSÁRIO USAR UM CAMINHO ABSOLUTO -->
		<add key="CAMINHO_CERTIFICADO" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\CERTIFICADO\LabmetroOnline.pfx"></add>


		<add key="PASTA_CERT_ZIPS" value="C:\Inetpub\wwwroot\labmetroang.isq.pt\UPLOADS\CERTIFICADOS\ZIPS\" />
		<add key="CERTIFICADOS_URL" value="UPLOADS\CERTIFICADOS\FINAIS\CERTIFICADOS "/>
		<add key="PATHABS_CERT_FINAIS_CERTIFICADOS" value="http://labmetroang.isq.pt/UPLOADS/CERTIFICADOS/FINAIS/CERTIFICADOS" />

		<add key="CERT_PASSWORD" value="labmcer123"></add>
		<add key="CERT_REASON" value="Documento aprovado electronicamente"></add>
		<add key="CERT_LOCATION" value="ISQ - LabMetro"></add>

		<add key="TEMPLATE_PAGINA" value="certif.pdf" />
		<add key="TEMPLATE_PAGINA_IPAC" value="certif_IPAC.pdf" />
		<add key="TEMPLATE_PAGINA_REP" value="certif_REP.pdf" />

		<!-- numero de peças a partir do qual é aplicado o desconto na facturação, caso o desconto seja aplicável -->
		<add key="NUMPECASPARADESCONTO" value="5"></add>
		<!-- campo "TO" para envio de FAX atraves do serviço de email -->
		<!-- dentro do codigo o 000 (3 zeros) serao substituidos pelo numero de fax do destinatário -->
		<add key="NUMFAX" value=""></add>
		<!-- ip do servidor utilizado no envio de fax por email-->
		<add key="IPSERVIDORMAIL" value=""></add>
		<!-- as confirmações de envio de fax teem de ser entregues a alguem, esse alguem é definido nas proximes chaves -->
		<add key="MAIL_CONFIRMATION_FAXAVISO" value="recepcao@isq.pt"></add>
		<!--add key="MAIL_CONFIRMATION_FACTURA" value="jgribeiro@isq.pt"></add-->
		<add key="MAIL_CONFIRMATION_ORCAMENTO" value="labmetro@isq.pt"></add>
		<add key="MAIL_CONFIRMATION_MARCACOES" value="smcruz@isq.pt"></add>

		<add key="ID_RESP_TEC_DEFAULT_ORCAM" value="15"></add>

		

		<add key="canUpdatePagAtraso"  value="dmelamed,admin,banogueira,lmgodinho,mccampos,pacastro,acfalcato,caserra,jmmoreira" />
		<add key="canUpdateContactoInfo"  value="dmelamed,admin,lmgodinho,acfalcato,banogueira,afespinha,pacastro,jmmoreira,lmgoncalves,jmmedina,fmleal,aftavares,acrodrigues,tsmartins" />
    <add key="versaoAplicacao" value="ISQapave Labmetro Angola"/>
    <add key="nomeAplicacao" value="ISQapave Labmetro"/>
	</appSettings>

  <!--atenção a nova connectionstring está aqui.-->
  <connectionStrings>

   
    <add name="ISQ_LabmetroConnectionString" connectionString="Data Source=METLABSERVER;Initial Catalog=Ang_Labmetro;User ID=Labmetro;Password=edfh+178"
        providerName="System.Data.SqlClient" /-->

    <add name="connstr" connectionString="Server=METLABSERVER;DataBase=Ang_Labmetro;User ID=LabMetro;Password=edfh+178;Trusted_Connection=False;Min Pool Size=5; Max Pool Size=100; Connect Timeout=20" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=METLABSERVER;Persist Security Info=True;User ID=LabMetro;Password=edfh+178"
        providerName="System.Data.SqlClient" />
    <add name="ISQ_LabmetroConnectionString" connectionString="Data Source=METLABSERVER;Initial Catalog=Ang_Labmetro;User ID=Labmetro;Password=edfh+178"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  
  
  <!-- CAMINHO PARA O FICHEIRO DE LOGs -->
	<system.web>
		<!-- disable session state for application -->
		<!-- debug a false em producao -->
    <pages validateRequest="true" styleSheetTheme="myTheme">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    
		<httpRuntime 
   executionTimeout="600"
   appRequestQueueLimit="100" />
		<compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
     
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      </assemblies>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off" defaultRedirect="PagErro.aspx" />
		<!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<!-- enable Forms authentication -->
		<authentication mode="Forms">
			<!-- name : o nome do cookie-->
			<forms name=".LABMAUTH" loginUrl="Default.aspx" protection="All" path="/" timeout="40" />
		</authentication>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByCategory" localOnly="true" />
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes"
            cookieless="false" timeout="40" />
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
            culture="pt-PT"
            uiCulture="pt-PT"
        />

		<!--By default, ASP.NET is 
configured to intercept and to stop requests for several different file types 
that are used in ASP.NET applications. These file types are ones that must not 
be retrieved by users. These file types include .config files that store 
configuration information for the application and .cs files that store the 
source code of the application. ASP.NET ensures the privacy of these files by 
associating both file types with System.Web.HttpForbiddenHandler. 
System.Web.HttpForbiddenHandler returns an error to the user who requests the 
file. This method of protecting files can be used for any file type. This method 
is useful for protecting files that exist in the folder of the Web application 
and must never be retrieved by users.-->
    <!-- Register the ajax handler -->
    <!-- Register the ajax handler -->
    <httpHandlers>


      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <!-- ver se ha conflitos com este get e o get acim-->
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <!--Unless you know of known issues that your site has when running in XHTML mode (and which you don't have time yet to fix), I'd always recommend removing the <xhtmlConformance>
      section from your web.config file (or you can explicitly set it to "Transitional" or "Strict") quando deixo isso descomentado, parece-me que fica tudo ajax-enabled. daniela: vou deixar em transitional, com legacy parece-me que algumas coisas de updatepanels nao funcionam-->
    <xhtmlConformance mode="Transitional" />

    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
	</system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="800000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
